[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Tests/Unit/test_headers/ThirdParty/glm"]
	path = Tests/Unit/test_headers/ThirdParty/glm
	url = https://github.com/g-truc/glm
