cmake-build-*
.idea
build
venv
Extension/build
Extension/dist
Extension/rg3py/rg3py.pyd
Extension/rg3py/rg3py.so
Extension/rg3py/rg3py.pyi
Extension/rg3py.egg-info
Tests/PyIntegration/venv
Tests/PyIntegration/.idea
PyBind/rg3py.pyd
PyBind/rg3py.so